install-sh
Makefile.in
aclocal.m4
config.h
data/Makefile.in
data/icons/Makefile.in
src/Makefile.in
Makefile
autom4te.cache/
config.log
config.status
configure
data/Makefile
data/icons/Makefile
plugins/Makefile
plugins/Makefile.in
src/.deps
src/Makefile
src/guake-indicator
src/*.o
compile
config.h.in
depcomp
missing
stamp-h1
config.h.in~
