[Desktop Entry]
Name=Guake Indicator
Comment=Use it to launch guake-indicator and a new icon will show up on systemtray
TryExec=guake-indicator
Exec=guake-indicator
Icon=guake-indicator
Type=Application
Categories=GNOME;GTK;System;Utility;TerminalEmulator;
StartupNotify=true
Keywords=guake;ssh;terminal;indicator;
